In [1]:
import numpy as np
import pandas as pd
from numpy.linalg import eig

In [2]:
df = pd.DataFrame({
    'X': [68,60,58,40],
    'Y': [29,26,30,25]
})

In [4]:
x_mean = df['X'].mean()
x_mean

56.5

In [5]:
df_var = df - x_mean
df_var

      X     Y
0  11.5 -27.5
1   3.5 -30.5
2   1.5 -26.5
3 -16.5 -31.5

In [7]:
# COVARIANCE OF MATRIX
df_cov = df_var.cov()
df_cov

            X          Y
X  139.666667  19.000000
Y   19.000000   5.666667

In [8]:
#EIGEN VALUE AND VECTORS
eigen_val,eigen_vectors = eig(df_cov)
print(eigen_val)
print(eigen_vectors)

[142.30860805   3.02472528]
[[ 0.99047058 -0.13772448]
 [ 0.13772448  0.99047058]]

In [13]:
df_pca = np.dot(df_var, eigen_vectors)
df_pca = pd.DataFrame(df_pca)
df_pca

           0          1
0   7.602988 -28.821772
1  -0.733950 -30.691388
2  -2.163993 -26.454057
3 -20.681086 -28.927369